<h1>Orders</h1>

<ul>
  <% @orders.each do |order| %>
    <li>
      <strong><%= link_to order.name, order_path(order) %></strong> - 
      <%= number_to_currency(order.total_price) %> - 
      Status: <%= order.status %>
    </li>
  <% end %>
</ul>

<%= paginate @orders %>
