<%= form_with url: checkout_path, method: :post do %>
  <div>
    <label for="amount">Amount:</label>
    <%= text_field_tag :amount, number_to_currency(@order.total_price || 100.00), readonly: true, id: 'amount' %>
  </div>
  
  <div>
    <label for="name">Name:</label>
    <%= text_field_tag :name, '', id: 'name', required: true %>
  </div>
  
  <div>
    <label for="email">Email:</label>
    <%= email_field_tag :email, '', id: 'email', required: true %>
  </div>
  
  <button type="submit" class="btn btn-sm btn-success my-2">Checkout</button>
<% end %>
